$color-fons-menu: darkslategray;
$color-text-menu:white;
$color-hover-menu: lighten($color-fons-menu, 15);
$color-accent-focus: darkorange;
$espaiat-item: 4px;
$padding-enllac: 12px 20px;

.menu-principal{
    background-color: $color-fons-menu;
    padding: 0 20px;
}